[submodule "front"]
	path = front
	url = https://github.com/H-Plus-Time/zeitgeist-front
	branch = master
[submodule "data"]
	path = data
	url = https://github.com/H-Plus-Time/zeitgeist-data
	branch = master
[submodule "orchestration"]
	path = orchestration
	url = https://github.com/H-Plus-Time/zeitgeist-orchestration
	branch = master
[submodule "core"]
	path = core
	url = https://github.com/H-Plus-Time/zeitgeist-core
	branch = master
